.cmn-divfloat {
    position: fixed !important;
    bottom: 45px;
    right: 15px;
}

.cmn-btncircle {
    width: 40px !important;
    height: 40px !important;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
}
