.lang-txt-black  {
    color: #363636;
}

.lang-nav{
    background: #343A40;
    color:#A3A6A9 !important;
}
a.lang-nav {
    background: #343A40;
    color: #A3A6A9;
}
.lang-nav > a:hover {
    background: #565555;
    color: #A3A6A9;
}
