:root{
--dark-background-color: #343A40;
--dark-background-color2: #565555;
--footer-background-color:   #ccc;
--white-front-color: white;
}

.lang-txt-black  {
    color: #363636;
}

.lang-nav-bg{
    background: var(--dark-background-color);
}

.lang-nav-bg > a{
    color: var(--white-front-color);
}

.lang-nav-bg > a:hover {
    background: var(--dark-background-color2);
    color: var(--white-front-color);
}
