:root{
--dark-background-color: #343A40;
--dark-background-color2: #565555;
--white-front-color: white;
--grey-front-color: #ccc;
}

.lang-text-white {
    color: var(--white-front-color);
}

.lang-text-black  {
    color: #363636;
}

.lang-nav-bg{
    background: var(--dark-background-color);
}

.lang-nav-bg > a{
    color: var(--grey-front-color);
}

.lang-nav-bg > a:hover {
    background: var(--dark-background-color2);
    color: var(--white-front-color);
}

.lang-footer{
    background: var(--dark-background-color);
}

.lang-footer a{
    color: var(--grey-front-color);
}
