.opn-btnblue {
    color: #fff;
    background-color: #00B7FF;
    border-color: #00B7FF;
}

.app-btnshadow {
    box-shadow: 2px 2px 5px #888888;
}

.app-breadscrumb {
    background: #00B7FF;
}

.app-breadscrumb-item > a {
    text-decoration: none;
    color: white;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

.app-breadscrumb-item > a:hover {
    color: #425566;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #425466;
    content: "/";
}

.app-footer {
    background: #425466 !important;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.app-footer a {
    text-decoration: none;
}

.app-card {
    border: 1px solid #8eddf9;
}

.app-card-bb {
    border-bottom: 1px solid #8eddf9;
}
.app-card-bt {
    border-top: 1px solid #8eddf9;
}

.app-hashlink {
    color: #01acea;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-decoration: none;
}

.app-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.app-btncircle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}
.app-divfloat {
    position: fixed;
    bottom: 45px;
    right: 15px;
}
