/node_modules
/public/hot
/public/storage
/public/download
/public/index.php.prod

/storage/*.key
/vendor
.env
.env.prod
.env.test

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
temp.js

/.idea
/.vscode
/.docker-sync
/logs
/app/Component/curl.log
