.debug {
    border:1px solid red !important;
}

.app-formheader {
    margin: 0 !important;
    margin-bottom: 15px !important;
    padding:2px !important;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.app-btnformheader {
    margin-top: 8px;
}

.app-btncol {
    margin-top:28px;
}

.app-btnblue {
    color: black;
    background-color: #00B7FF;
    border-color: #00B7FF;
}
