.debug {
    border:1px solid red !important;
}

.res-formheader {
    margin: 0 !important;
    margin-bottom: 15px !important;
    padding:2px !important;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.res-btnformheader {
    margin-top: 8px;
}

.res-btncol {
    margin-top:28px;
}

.res-tddel {
    color: red;
}

.res-cardtitle{
    background-color: #aef9d3 !important;
}
